html, body {
 	background-color: #181818;
	font-family: 'Raleway', sans-serif;
	width:100%;
	height:100%;
}

.floatLeft {
	float: left;
}

.floatRight {
	float: right;
}

.hide {
	display: none;
}

.inlineBlock {
	display: inline-block;
}

.text-content {
	margin: auto;	
}

.caption {
	font-size: 40px;
	margin: 15px 0px 0px 0px;
}

.para {
	margin-top: 10px;
	font-size: 24px;
	font-weight: none;
	line-height: 35px;
}

#header-cont {
	position:fixed;
	z-index:1;
	width: 100%;
	min-width: 1000px;
}

#header {
	background-color: #ffefef;
	padding-bottom: 5px;
	height: 50px;
	color: #000000;
	font-size: 18px;
}

#footer-text {
	background-color: #181818;
    color: #e8e8e8;
    font-size: 15px;
    margin: auto;
    text-align: center;
    height: 17px;
}

#bible-verse {
	width: 65%;
	padding: 10px 0px 0px 10px;
}

#bible-icon {
	margin-right: 10px;
	margin-top: -5px;
	margin-bottom: 0px;
}

#social-buttons {
	padding: 5px 20px 5px 0px;
}

#social-buttons div{
	background-size: 80px;
	margin-left: 10px;
}

.navigation {
	margin: 0px 10px 0px 0px;
	padding-left: 35px;
	padding-bottom: 7px;
	padding-top: 3px;
	width: 100%;
	background-color: #C80815;
	color: #e8e8e8;
	box-shadow: 0px 8px 5px rgba(0,0,0,0.3);
}

.navigation li {
	padding: 0 10px;
	-webkit-transition: all .2s ease-in-out;
}

.navigation li img{
	margin-bottom: -5px;
}

.navigation li:hover,.active{
	font-weight: bold;
	cursor:pointer;
	text-shadow: 0px 2px 4px #000000;
}

.navigation li:hover {
	cursor:pointer;
}

.navigation li.active{
	cursor:default;
}

#intro { 
	background: url("../img/bcg_slide-1.JPG");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
 
#intro article { 
	position: absolute; 
	top: 25%;
	left: 33%; 
	color: #000000;
}

#intro article img { 
	border-style: solid;
	border-radius: 10px;
}

#intro article .text-content { 
	margin: 5px 0px 0px 30px;
	width: 40%;
}

#coding { 
	background: url("../img/bcg_slide-2.JPG");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#coding article { 
	position: absolute; 
	top: 10%; 
	width: 100%;
	color: #ffffff;
}

#coding article .text-content {
	text-align: left;
	margin: 0px 0px 0px 20px;
	width: 50%;	
}

#coding article img{
	margin-bottom: -5px;
}

#photography { 
	background: url("../img/bcg_slide-3.JPG");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#photography article { 
	font-size: 100px;
	position: absolute; 
	top: 15%; 
	width: 100%;
	color: #ffffff;
}

#photography article .text-content {
	text-align: left;
	float: right;
	margin: 0px 20px 0px 0px;
	width: 32%;
}

.slide{
	background-attachment: fixed;
	width:100%;
	height:100%;
	position: relative;
	box-shadow:inset 0px 10px 10px rgba(0,0,0,0.3);
}

.slideTitle {
	opacity: 0.35;
	position:absolute;
	bottom:0px;
	left:20px;
	font-size:50px;
	font-weight:bold;
}

#coding .slideTitle {
	color: #e8e8e8;
}